<?xml version="1.0"?>
<config>
    <modules>
        <Magentex_AdminLocale>
            <version>1.0.0</version>
        </Magentex_AdminLocale>
    </modules>
    <global>
        <models>
            <magentex_adminlocale>
                <class>Magentex_AdminLocale_Model</class>
                <resourceModel>magentex_adminlocale_resource</resourceModel>
            </magentex_adminlocale>
            <magentex_adminlocale_resource>
                <class>Magentex_AdminLocale_Model_Resource</class>
                <entities>
                    <user_locale>
                        <table>magentex_adminlocale_user_locale</table>
                    </user_locale>
                </entities>
            </magentex_adminlocale_resource>
        </models>
        <blocks>
            <magentex_adminlocale>
                <class>Magentex_AdminLocale_Block</class>
            </magentex_adminlocale>
        </blocks>
        <resources>
            <magentex_adminlocale_setup>
                <setup>
                    <module>Magentex_AdminLocale</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </magentex_adminlocale_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <magentex_adminlocale>
                    <file>magentex/adminlocale.xml</file>
                </magentex_adminlocale>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_adminhtml_permissions_user_save>
                <observers>
                    <save_admin_user_account>
                        <class>magentex_adminlocale/observer</class>
                        <method>saveAdminUserLocale</method>
                    </save_admin_user_account>
                </observers>
            </controller_action_postdispatch_adminhtml_permissions_user_save>
            <admin_session_user_login_success>
                <observers>
                    <set_admin_user_locale>
                        <class>magentex_adminlocale/observer</class>
                        <method>setAdminUserLocale</method>
                    </set_admin_user_locale>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>
</config>
